:root {
    --height: 558px;
    --main_color: #23b6fa;
    --future_color: #32a852;
    --buffer: 145px;
}

.octopus{
    float: left;
}

.octopus_head{
    position: relative;
    height: var(--height);
    width: calc(calc(var(--height) / 2) + var(--buffer));
    border-radius: 0 558px 558px 0;
    background-color: var(--main_color);
    overflow: hidden;

}

.face:before{  
    content: '';
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: white;
    top: 40px;
    left: 185px;
}

.face:after{  
    content: '';
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 55px;
    left: 230px;
}

.teeth{
    position: absolute;
    background-color: white;
    border-radius: 100%;
    left: 100px;
    bottom: 90px;
    width: 500px;
    height: 500px;
}

.cover{
    position: absolute;
    background-color: var(--main_color);
    border-radius: 100%;
    right: 10px;
    bottom: 70px;
    width: 500px;
    height: 500px;
}

li{
    margin-bottom: 2px;
}

.flex_container{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
}

.leg{
    position: relative;
    height: 38px;
    background-color: var(--main_color);
    border-radius: var(--height) 0 0 var(--height);
    list-style-type: none;
    line-height: 40px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-indent: 20px;
    margin-left: auto;
}

.future{
    background-color: var(--future_color);
    z-index: -1;
}

p{
    color: black;
}

.one{
    width: 10%;
}

.two{
    width: 20%;
}

.three{
    width: 30%;
}

.four{
    width: 40%;
}

.five{
    width: 50%;
}

.six{
    width: 60%;
}

.seven{
    width: 70%;
}

.eight{
    width: 80%;
}

.nine{
    width: 90%;
}

.ten{
    width: 100%;
}

.empty{
    width: 5%;
}

.inayear{
    right: 440px;
    background-color: var(--future_color);
}

.keytext{
    display: inline-block;
    margin-left: 60px;
    margin-top: 3px;
    width: max-content;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
