:root {
    --height: 558px;
    --main_color: #23b6fa;
    --future_color: #32a852;
    --buffer: 135px;
}


#octopus_head {
    position: relative;
    height: var(--height);
    width: calc(calc(var(--height) / 2) + var(--buffer));
    border-radius: 0 558px 558px 0;
    background-color: var(--main_color);
    left: 650px;
    top: 30px;
}

body{
    height: 0;
    /* margin-top: 300px; */
}

#octopus_head_clip_container{
    position: absolute;
    height: var(--height);
    width: calc(var(--height) / 2);
    /* background-color: blue; */
    /* background-color: aqua; */
    border-radius: 0 var(--height) var(--height) 0;
    /* left: 651px; */
    /* top: 30px; */
    bottom: 528px;
    overflow: hidden;
}

.eyes{
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

#eye1{
    background-color: white;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 160px;
}

#eye2{
    width: 15px;
    height: 15px;
    background-color: black;
    top: 60px;
    left: 190px;
}

#mouthclip{
    position: absolute;
    background-color: white;
    height: 420px;
    width: 420px;
    border-radius: 50%;
    bottom: 100px;
    
}

#mouth{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--main_color);
    border-radius: 50%;
    bottom: 100px;
}

.face{
    position: relative;
    /* left: 10px; */
    /* right: 100px; */
    /* z-index: 50; */
    top: 0px;
    left: 135px;
    /* top: 110px; */
}

.leg{
    position: absolute;
    right: calc(var(--height)/1.35);
    height: 38px;
    background-color: var(--main_color);
    border-radius: var(--height) 0 0 var(--height);
    list-style-type: none;
    line-height: 40px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-indent: 20px;
}


.future{
    background-color: var(--future_color);
    z-index: -1;
}


p{
    color: black;
}

.one{
    width: calc(10% + 10%);
}

.two{
    width: calc(20% + 10%);
}

.three{
    width: calc(30% + 10%);
}

.four{
    width: calc(40% + 10%);
}

.five{
    width: calc(50% + 10%);
}

.six{
    width: calc(60% + 10%);
}

.seven{
    width: calc(70% + 10%);
}

.eight{
    width: calc(80% + 10%);
}

.nine{
    width: calc(90% + 10%);
}

.ten{
    width: calc(100% + 10%);
}

/* li{
    margin-bottom: 40px;
} */



#english_language{
    /* top: 0px; */
}



#boldness{
    top: 40px;
    /* width: calc(20% + 10%); */
}
#boldness.future{
    /* width: calc(40% + 10%); */
}



#python{
    top: 80px;
}
#python.future{
    /* width: calc(50% + 10%); */
}



#HTML{
    top: 120px;
    /* width: calc(30% + 10%); */
}
#HTML.future{
    /* width: calc(40% + 10%); */
}



#CSS{
    top: 160px;
    /* width: calc(20% + 10%); */
}
#CSS.future{
    /* width: calc(40% + 10%); */
}



#blender{
    top: 200px;
    /* width: calc(60% + 10%); */
}
#blender.future{
    /* width: calc(70% + 10%); */
}



#rubiks_cube{
    top: 240px;
    /* width: calc(70% + 10%); */
}
#rubiks_cube.future{
    /* width: calc(80% + 10%); */
}



#printing_3d{
    top: 280px;
    /* width: calc(40% + 10%); */
}
#printing_3d.future{
    /* width: calc(60% + 10%); */
}



#food{
    top: 320px;
    /* width: 500px; */
}



#piano{
    top: 360px;
    /* width: 250px; */
}
#piano.future{
    /* width: 300px; */
}



#rubyonrails{
    top: 400px;
    /* width: 25px; */
}
#rubyonrails.future{
    /* width: 200px; */
}



.empty{
    width: 25px;
}

#empty1{
    top: 440px;
}

#empty2{
    top: 480px;
}

#empty3{
    top: 520px;
}

.now{
    display: inline;
    position: absolute;
    top: calc(var(--height) + 20px);
    right: 600px;
    width: 50px;
    height: 25px;
    background-color: var(--main_color);
}

.inayear{
    right: 440px;
    background-color: var(--future_color);
}

.keytext{
    display: inline-block;
    margin-left: 60px;
    margin-top: 3px;
    width: max-content;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
